.btnContainer {
    display: flex;
    gap: 5px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 2em;
    padding: 0.1em 0em 0.1em 1em;
    font-weight: 400;
    width: 18%;
    font-style: normal;
    transition: all 100ms ease-in-out;
    margin-bottom: 20px;
}

.btnContainer button,
.btnContainer input[type="number"] {
    color: inherit;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
    background: inherit;
    font-size: 1.5em;
    border: none;
    font-weight: 600;
    max-width: 80%;
}

#join_room input[type="number"],
.dimensions input[type="number"] {
    cursor: text;
}

#join_room input[type="number"]::placeholder,
.dimensions input[type="number"]::placeholder {
    color: var(--secondary-text);
}

.dimensions {
    margin-bottom: 0em;
}

.btnContainer .icon {
    font-size: 1.8em;
    padding: 0.2em;
    border-radius: 50%;
    cursor: pointer;
}

#create_room {
    background: var(--primary-button-background);
    color: var(--primary-text);
}

#join_room {
    background: var(--secondary-button-background);
    color: var(--secondary-text);
}

.dimensions {
    background: var(--primary-button-background);
    color: var(--primary-text);
}

#create_room:active {
    border: 2px solid var(--primary-button-background);
    background: var(--primary-background);
    color: var(--primary-button-background);
}

#join_room:has(input:focus) {
    border: 2px solid var(--secondary-button-background);
    background: var(--secondary-background);
    color: var(--secondary-button-background);
}

.dimensions:has(input:focus) {
    border: 2px solid var(--primary-button-background);
    background: var(--primary-background);
    color: var(--primary-button-background);
}

@media screen and (max-width: 1370px) {
    .btnContainer {
        width: 25%;
    }
}

@media screen and (max-width: 980px) {
    .btnContainer {
        width: 30%;
    }
}

@media screen and (max-width: 830px) {
    .btnContainer {
        width: 35%;
    }
}

@media screen and (max-width: 700px) {
    .btnContainer {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .btnContainer {
        width: 70%;
    }
}

@media screen and (max-width: 370px) {
    .btnContainer {
        width: 95%;
        font-size: 1em;
        gap: 0;
    }
    .btnContainer .icon {
        font-size: 1.5em;
    }
    .btnContainer button,
    .btnContainer input[type="number"] {
        font-size: 1em;
    }
}
