.container .controls {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.container .controls button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
}

canvas {
    background: white;
    /* padding: 0 0.5em; */
}

.container .info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    gap: 5px;
}

.info .pill {
    cursor: default;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    border-radius: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em 0 0.2em;
    text-transform: lowercase;
    transition: all 200ms ease-in-out;
}

.id_container {
    background: var(--primary-button-background);
    color: var(--primary-text);
    border: 2px solid var(--primary-button-background);
}

#close_canvas {
    display: none;
    background: var(--danger-background);
    color: var(--primary-background);
    border: 2px solid var(--danger-background);
    cursor: pointer;
}

#status_pill {
    display: none;
    background: var(--secondary-button-background);
    color: var(--secondary-text);
    border: 2px solid var(--secondary-button-background);
}

#close_canvas:hover {
    background: var(--primary-background);
    color: var(--danger-background);
}

@media screen and (max-width: 980px) {
    .container .controls {
        width: 90%;
    }

    .container .controls button {
        height: 40px;
        width: 40px;
    }

    .container .info {
        width: 95%;
    }

    .info .pill {
        font-size: 1em;
    }
}
